<IfModule mod_rewrite.c>
   RewriteEngine On 
   RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

<IfModule mod_expires.c>
   ExpiresActive On

   ExpiresByType image/jpeg "access 1 year"
   ExpiresByType image/gif "access 1 year"
   ExpiresByType image/png "access 1 year"
   ExpiresByType image/webp "access 1 year"
   ExpiresByType image/svg+xml "access 1 year"
   ExpiresByType image/x-icon "access 1 year"

   ExpiresByType video/webm "access 1 year"
   ExpiresByType video/mp4 "access 1 year"
   ExpiresByType video/mpeg "access 1 year"

   ExpiresByType font/ttf "access 1 year"
   ExpiresByType font/otf "access 1 year"
   ExpiresByType font/woff "access 1 year"
   ExpiresByType font/woff2 "access 1 year"
   ExpiresByType font/opentype "access 1 year"
   ExpiresByType application/font-woff "access 1 year"

   ExpiresByType text/css "access 1 year"
   ExpiresByType text/javascript "access 1 year"
   ExpiresByType application/javascript "access 1 year"
   ExpiresByType application/x-javascript "access 1 year"

   ExpiresByType application/pdf "access 1 year"
   ExpiresByType image/vnd.microsoft.icon "access 1 year"
   ExpiresDefault "access 2 days"

</IfModule>