@tailwind base;
@tailwind components;
@tailwind utilities;

@import './base/base.css';
@import './components/cards.css';
@import './util/utilities.css';


@layer utilities {
    @variants responsive {
      .no-scrollbar::-webkit-scrollbar {
        display: none;
      }
  
      .no-scrollbar {
        -ms-overflow-style: none; 
        scrollbar-width: none; 
      }
    }
}
