
* {
    font-family: 'Montserrat', Helvetica, sans-serif;
}

body {
    background-color: rgb(255, 245, 245);
}
.card-img img {
    display: block;
    width: 100%;
}
.card-quote {
    background-color: white;
    margin: 24px 32px;
    padding: 32px;
    border-radius: 12px;
    line-height: 2;
}

.ribbon {
    color: white;
    background-color: rgb(241 70 70);
    padding: 24px;
    justify-content: center;
}

.ribbon h1 {
    margin: 0;
}

.ribbon img {
    display: inline-block;
    height: 80px;
    width: 80px;
}